header{
  background-color: rgb(141, 160, 177);
  text-align: center;

  h2 {
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .flex-columns {
    
    
  }

  .flex-columns > * {
    
  } 
 

  .node-1 {
    font-size: 18px;
    border-style: solid;
    background-color: rgb(143, 74, 74);
    padding: 2em;
}

  .node-2 {
    font-size: 18px;
    border-style: solid;
    background-color: rgb(143, 74, 74);
    padding: 2em;
}

  .node-3 {
    font-size: 18px;
    border-style: solid;
    background-color: rgb(143, 74, 74);
    padding: 2em;
  }


}
